@model Turma

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<h1 class="text-center text-white">Criar turma</h1>

<div class="mb-6">
    <form asp-action="CriarTurma">
        <div class="form-group">
            <label asp-for="Nome" class="h6 text-white"></label>
            <input asp-for="Nome" class="form-control" placeholder="Sétimo ano">
        </div>
        <div>
            <button class="btn btn-white" type="submit">Cadastrar turma</button>
        </div>
    </form>
</div>