@model MateriaTurmaProfessorVM

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<h1 class="text-center text-white">Editar Professor</h1>

<div class="mb-6">
    <form asp-action="EditarProfessorNaTurma">
        <input hidden asp-for="UserList" />
        <input hidden asp-for="ProfessorId" />
        <input hidden asp-for="TurmaId" />
        <input hidden asp-for="Materias" />
        <div class="form-group">
            <label class="h6 text-white">Professor</label>
            <select asp-for="ProfessorId" class="form-control" placeholder="Sétimo ano" disabled>
                <option value="0" disabled selected>Selecione uma opção</option>
                @foreach (var prof in Model.UserList)
                {
                    <option value="@prof.Id">@prof.NomeCompleto</option>
                }
            </select>
            <label class="h6 text-white pt-2">Matérias</label>
            <select asp-for="MateriaId" class="form-control">
                <option value="0" disabled selected>Selecione uma matéria</option>
                @foreach (var materia in Model.Materias)
                {
                    <option value="@materia.Id">@materia.Nome</option>
                }
            </select>
        </div>
        <div>
            <button class="btn btn-warning" type="submit">Editar</button>
        </div>
    </form>
</div>

