@model AddUserTurmaVM

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<h1 class="text-center text-white">Remover usuário da turma</h1>

<div class="mb-6">
    <form asp-action="RemoverUserTurmaPost">
        <input hidden asp-for="UserList" />
        <input hidden asp-for="TurmaFK" />
        <div class="form-group">
            <label class="h6 text-white">Professor</label>
            <select asp-for="UserFK" class="form-control" placeholder="Sétimo ano" disabled>
                <option value="0" disabled selected>Selecione uma opção</option>
                @foreach (var prof in Model.UserList)
                {
                    <option value="@prof.Id">@prof.NomeCompleto</option>
                }
            </select>
        </div>
        <div>
            <button class="btn btn-danger" type="submit">Remover da turma</button>
        </div>
    </form>
</div>
