@model Materia

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<h1 class="text-center text-white">Remover matéria</h1>

<div class="mb-6">
    <form asp-action="RemoverMateriaPost">
        <input hidden asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome" class="h6 text-white"></label>
            <input asp-for="Nome" class="form-control" placeholder="Física" disabled>
        </div>
        <div>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                Remover matéria
            </button>
        </div>
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
                        <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a matéria?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Fechar</button>
                        <input type="submit" value="Deletar" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>