@model UserDTO

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<div class="mb-6">
    <div class="text-white text-center">
        <h2 class="text-white">@Model.NomeCompleto</h2>
        <span>@((int.Parse(DateTime.Now.ToString("yyyyMMdd")) - int.Parse(Model.DataNascimento.ToString("yyyyMMdd"))) / 10000) anos</span>
    </div>
    <hr  class="bg-white"/>
    <div class="mb-6">
        <form asp-action="RemoverUsuarioPost">
            <input hidden asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="h6 text-white"></label>
                <input asp-for="Email" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="NumeroTelefone" class="h6 text-dark">Número de telefone</label>
                <input asp-for="NumeroTelefone" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="h6 text-black">Data de nascimento</label>
                <input asp-for="DataNascimento" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="h6 text-black">Data de cadastro</label>
                <input asp-for="DataCadastro" class="form-control" disabled>
            </div>
            <div>
                <a asp-action="EditarUsuario" asp-controller="Dashboard" asp-route-userId="@Model.Id" class="btn btn-primary">Modificar informações do usuário</a>
                <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> 
                    Remover usuário
                </button>
            </div>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmação</h5>
                            <button type="button" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente remover este usuário?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Fechar</button>
                            <input type="submit" value="Remover" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>