@model Turma

@{
    ViewData["Title"] = "Turmas";
}

<div class="container p-3">
    <h2 class="text-center">Minhas turmas</h2>
    <div class="d-flex justify-content-center p-2">
        <div class="card text-center m-2" style="width: 18rem;">
            <img class="card-img-top" height="250" src="https://static.vecteezy.com/ti/vetor-gratis/p2/6757124-fundo-de-padrao-sem-costura-de-volta-as-aulas-vetor.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Nome</h5>
                <a asp-controller="Aluno" asp-action="Boletim" class="btn btn-primary">Ver turma</a>
            </div>
        </div>
    </div>
    <div class="pb-3"></div>
</div>