@model List<Turma>

@{
    ViewData["Title"] = "Turmas";
}

<div class="container p-3">
    <h2 class="text-center">Minhas turmas</h2>
    <div class="d-flex justify-content-center p-2">
        @foreach (var obj in Model)
        {
            <div class="card text-center m-2" style="width: 18rem;">
                <img class="card-img-top" height="250" src="/assets/images/fundo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@obj.Nome</h5>
                    <a asp-controller="Professor" asp-action="Turma" asp-route-id="@obj.Id" class="btn btn-primary">Ver turma</a>
              </div>
            </div>
        }
    </div>
    <div class="pb-3"></div>
</div>