@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<h3 class="text-white text-center">Registe um usuário</h3>

<div class="row">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating m-2">
                <input asp-for="Input.NomeCompleto" class="form-control" autocomplete="nomecompleto" aria-required="true" />
                <label asp-for="Input.NomeCompleto"></label>
                <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
            </div><div class="form-floating m-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating m-2">
                <input asp-for="Input.DataNascimento" class="form-control" autocomplete="datanascimento" aria-required="true" />
                <label asp-for="Input.DataNascimento"></label>
                <span asp-validation-for="Input.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-floating m-2">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating m-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating m-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Cadastrar</button>
        </form>
    </div> 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
